@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Montserrat", ui-sans-serif, system-ui, sans-serif;

  --color-primary-500: #1a365d;
  --color-primary-600: #153e75;
  --color-primary-700: #12284c;
  
  --color-graphite: #333333;
  --color-dark-bg: #1a1a1a;
  --color-gold: #c5a880;

  --animate-marquee: marquee var(--duration) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --animate-shimmer: shimmer 8s infinite;

  @keyframes shimmer {
    0%, 90%, 100% {
      background-position: calc(-100% - var(--shimmer-width)) 0;
    }
    30%, 60% {
      background-position: calc(100% + var(--shimmer-width)) 0;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

